*,
*::after {
  margin: 0;
  padding: 0;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


#loader-container {
  width: 300px;
  height: 250px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  background: #fff;
  z-index: 10000;
  border: 1px solid #555555;
}

#clickTag {
  width: 300px;
  height: 250px;
  cursor: pointer;
  box-sizing: border-box;
  top: -1px;
  left: -1px;
}

#loader-container .circle {
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
  border: 5px solid #ddd;
  border-bottom-color: #333;
  border-radius: 50%;
  height: 40px;
  left: 50%;
  margin-left: -22.5px;
  margin-top: -22.5px;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  width: 40px;
}

@-webkit-keyframes spin {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

img {
  border: 0;
}

body {
  cursor: pointer;
}

#wrapper {
  width: 300px;
  height: 250px;
  overflow: hidden;
  border: 1px solid #141010;
  background-color: #161616;
}

#wrapper {
  display: none;
}


#logo, #packages, #hexagons, [id*="clinic"], #numbers,  #img1, #img2, #img3, #img5, #thunderGroup, #endFrame, #price {
  width: 300px;
  height: 250px;
  left: 0px;
  top: 0px;
}

#btn {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}



.positionAb{
  position: absolute;
}

img{
  width: 100%;
}

#img1, #svgRay{
  width: 300px;
  height: 250px;
  left: 0px;
  top: 0px;
}

#car{
  width: 191px;
  left: -2px;
  top: 112px;
}

[id*='txt-']{
  width: 300px;
  height: 250px;
  left: 0px;
  top: 0px;
}



#cta {
    width: 90px;
    height: 25px;
    top: 173px;
    left: 202px;
    border-radius: 4px;
    background-color: #2aace2;
}



#overlay{
  width: 300px;
  height: 250px;
  left: 0px;
  top: 0px;
  /*background-color: #9481a1;*/
  background-color: #9481A1;
}

#svgRay, #svgMask{
  width: 300px;
  height: 250px;
  left: 0px;
  top: 0px;
}

.st0{
  width: 300px;
  height: 250px;
  left: 0px;
  top: 0px;
  opacity: 0.75;

}

#svgRay{
      filter:
    drop-shadow(0 0 25px #2aace2)
    drop-shadow(2px 0 1px #2aace2)
    drop-shadow(10px 0 10px #fff);
}


#thunderGroup{
        filter:
    drop-shadow(0 0 25px #2aace2)
    drop-shadow(2px 0 1px #2aace2)
    drop-shadow(10px 0 10px #fff);
}


.ray1, .ray2, .ray3, .th1, .th2, .th3{
  opacity: 0;
}

.ray1Prod, .ray2Prod, .ray3Prod, .th1Prod, .th2Prod, .th3Prod{
  opacity: 0;
}
