        @charset "UTF-8";

            * {
                margin: 0;
                padding: 0;
                border: 0;
            }


            @font-face {
                font-family: 'Poppins-ExtraBold';
                src: url('images/Poppins-ExtraBold.woff') format('woff');
                font-weight: 700;
                font-style: normal;
                font-display: block;
            }

            #loader-container {
                
                width: 1280px;
                height: 720px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                position: absolute;
                background: #eab95a;
                z-index: 10000;
                border: 1px solid #555555;
            }

            body {
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                -webkit-text-size-adjust: 100%;
                -o-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
                text-size-adjust: 100%;
                background: #FFF;
            }

            #banner_content {
                display: none;
            }

            .banner {
                font-family: Arial, Helvetica, sans-serif;
                
                width: 1280px;
                height: 720px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                border: 1px solid #555555;
                overflow: hidden;
                display: block !important;
                background: #eab95a;
                transform: translate3d(0px, 0px, 0px);
            }

            strong {
                font-weight: bold;
            }

            sup {
                font-size: 6px;
                position: relative;
                top: -0.8em;
                left: -2px;
            }

            .positionAb {
                position: absolute;
            }

            .fullSize {
                
                width: 1280px;
                height: 720px;
            }

            .aC {
                left: 0;
                right: 0;
                margin: 0 auto;
            }

            #clickTag {
                
                width: 1280px;
                height: 720px;
                cursor: pointer;
                box-sizing: border-box;
                top: -1px;
                left: -1px;
            }

            #loader-container .circle {
                -webkit-animation: spin 0.5s linear infinite;
                animation: spin 0.5s linear infinite;
                border: 5px solid #ddd;
                border-bottom-color: #333;
                border-radius: 50%;
                height: 40px;
                left: 50%;
                margin-left: -22.5px;
                margin-top: -22.5px;
                position: absolute;
                top: 50%;
                -webkit-transition: all 0.7s ease-in-out;
                -o-transition: all 0.7s ease-in-out;
                transition: all 0.7s ease-in-out;
                width: 40px;
            }

            @-webkit-keyframes spin {
                from {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                to {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }

            @keyframes spin {
                from {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                to {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }


            .wrapAd{
            width: 100%;
            width: 1280px;
            height: 720px;
            left: 0px;
            top: 0px;
            }

            img{
                width: 100%;
                height: auto;
                background-size:contain;
            }



          svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }



            #meteors{
              transform: rotate(45deg);
              width: 100%;
              height: 100%;
            }


          #game-wrap{
              width: 100%;
              height: 100%;
              left: 0%;
              top: 0%;
            }

            .wrap-meteoriter{
              width: 100%;
              height: 100%;
              left: -15%;
              top: -30%;
              transform: rotate(25deg);
            }

            .meteortest{
              width: 100%;
              height: 100%;
              z-index: 5;
              
            }


.meteorito1 {
  width: 269px; /* Escalable según ancho de pantalla */
  height: auto;
  top: -450px;
  left: -40px;
}


.meteorito2{
  width: 269px; /* Escalable según ancho de pantalla */
  height: auto;
  top: -450px;
  left: -40px;
}


.meteorito3{
  width: 269px; /* Escalable según ancho de pantalla */
  height: auto;
  top: -450px;
  left: -20px;

}

.meteorito4 {
  width: 200px; /* Escalable según ancho de pantalla */
  height: auto;
  top: -330px;
  left: -40px;
}


.meteorito5 {
  width: 200px; /* Escalable según ancho de pantalla */
  height: auto;
  top: -330px;
  left: -28px;
}


.meteorito6 {
  width: 250px; /* Escalable según ancho de pantalla */
  height: auto;
  top: -380px;
  left: -28px;
}

#character1{
  width: 303px;
  height: auto;
  left: 150px;
  top: 409px;
}

#character2{
  width: 303px;
  height: auto;
  left: 502px;
  top: 338px;
}


#character3{
  width: 348px;
  height: auto;
  left: 613px;
  top: 362px;
}


#character4{
  width: 348px;
  height: auto;
  left: 833px;
  top: 352px;
}





[id*="txt-1-"]{
    width: 640px;
    height: auto;
    left: 329px;
    top: 135px;
}




#logo-wrap{
  width: 667px;
  height: 337px;
  left: 312px;
  top: 172px;
}

#playbutton{
  width: 210px;
  height: 71px;
  left: 557px;
  top: 267px;
  pointer-events: auto;
  z-index: 999;
}


.buttonSelect{
  pointer-events: auto;
}





.tap1{
    width: 200px;
    height: 200px;
    top: 300px;
    left: 233px;
    border-radius: 50%;    
}

.tap2{
    width: 150px;
    height: 150px;    
    top: 294px;
    left: 398px;
    border-radius: 50%;
}

.tap3{
    width: 170px;
    height: 170px;    
    top: 423px;
    left: 531px;
    border-radius: 50%;
}

.tap4{
    width: 150px;
    height: 150px;    
    top: 277px;
    left: 829px;
    border-radius: 50%;
}

.tap5{
    width: 200px;
    height: 200px;    
    top: 112px;
    left: 747px;
    border-radius: 50%;
}

.tap6{
    width: 200px;
    height: 200px;    
    top: 101px;
    left: 975px;
    border-radius: 50%;
}



#toy1{
    width: 303px;
    height: auto;
    top: 280px;
    left: 203px;
}


#toy2{
    width: 303px;
    height: auto;
    top: 274px;
    left: 308px;
}

#toy3{
    width: 348px;
    height: auto;
    top: 315px;
    left: 442px;
}   


#toy4{
    width: 348px;
    height: auto;
     top: 107px;
    left: 689px;
}

#toy5{
    width: 268px;
    height: auto;
    top: 232px;
    left: 767px;
}


#toy6{
    width: 348px;
    height: auto;
    top: 65px;
    left: 915px;
}

/*


#toy1{
    width: 303px;
    height: auto;
    top: 422px;
    left: 117px;
}

#toy2{
    width: 303px;
    height: auto;
    left: 279px;
    top: 378px;
}


#toy3{
    width: 348px;
    height: auto;
    top: 315px;
    left: 472px;
}

#toy4{
    width: 348px;
    height: auto;
    top: 329px;
    left: 711px;
}

#toy5{
    width: 268px;
    height: auto;
    top: 484px;
    left: 735px;
}

#toy6{
    width: 348px;
    height: auto;
    top: 355px;
    left: 915px;
}

*/




[id*="splash"]{
  filter: drop-shadow(0px 0px 30px rgb(255, 220, 145));
}


    #videowrap {
      width: 100%;
      height: 100%;
      position: relative;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }

    #endframe{
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
    }

    #bgEndframe{
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
    }    

    #megabox1, #megabox2, #megabox3, #megabox-package{
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
    }        

    #megaToy{
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
    }         

#button{
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
}


#thrash{
width: 166px;
    height: auto;
    left: 170px;
    top: 363px;
}

#pantaro{
    width: 186px;
    height: auto;
    left: 982px;
    top: 320px;
}

#blazagon{
    width: 206px;
    height: auto;
    left: 541px;
    top: 321px;
}




[id*="txt-title-end"]{
width: 640px;
    height: auto;
    left: 304px;
    top: 33px;
}

[id*="select"]{
/*  background-color: #ffcc00A5; */
/*  pointer-events: auto;*/
}

[id*="clickToToy"]{
/*  background-color: #d40511A5; */
  pointer-events: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 999;
}
